@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Responsive Design */
@layer components {
  /* user page(not guest) */
  html:has(.main__user){
    @apply xxs:text-[1.1vw] xs:text-[1.13vw] md:text-[1.15vw] lg:text-[1.2vw] xl:text-[1.25vw] 2xl:text-[1.4vw];
  }
  /* main guest page */
  .main__guest-page h1 {
    @apply xxs:text-[1.5rem] xs:text-[2rem] md:text-[2.7rem] xlg:text-[3rem] lg:text-[3.1rem] xl:text-[3.2rem] 2xl:text-[3.3rem];
  }
  form:has(.get-started) {
    @apply xxs:!flex-col xxs:!gap-1 md:!flex-row md:!gap-0;
  }
  /* enjoy and create sections*/
  .enjoy-create {
    @apply xxs:flex-col xxs:!justify-center xlg:flex-row xlg:!justify-between
  }
  .enjoy-create-text {
    @apply xxs:text-center xlg:text-left xxs:!w-full xlg:!w-[48%]
  }
  .enjoy-create-img {
    @apply xxs:!w-full xlg:!w-[48%]
  }
  /* watch and download sections*/
  .watch-download {
    @apply xxs:flex-col-reverse xxs:!justify-center xlg:flex-row xlg:!justify-between
  }

  .download__movie-title p:nth-child(1) {
    @apply xxs:text-[.9rem] xlg:text-[1.3rem]
  }
  .watch-download-img {
    @apply xxs:!w-full xlg:!w-[48%]
  }

  .watch-download-text {
    @apply xxs:text-center xlg:text-left xxs:!w-full xlg:!w-[48%]
  }

  /* Login page */
  .main__container {
    @apply xxs:!w-[90%] xlg:!w-[40%]
  }

  /* Sign up page Planform */
  .plans__props {
    @apply max-[640px]:!hidden sm:!flex;
  }
  .plan {
    @apply max-[640px]:!grid-cols-3 relative !items-end;
  }

  .invis {
    @apply max-[640px]:!hidden
  }
  .plans__names {
    @apply max-[640px]:!grid-cols-3 !grid-rows-1
  }

  .resp-desc {
    @apply max-[640px]:!block absolute top-0 left-0 right-0 ml-auto mr-auto text-center text-[.9rem] text-[#333];
  }
  html, body {
    overflow-x: hidden!important;
    min-width: 321px!important;
  }
}

@media screen and (min-height: 700px) {
  .login {
    height: 140vh!important;
  };
}

@media screen and (min-height: 900px) {
  .login {
    height: 120vh!important;
  };
}

html, 
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  background: white;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

button:hover, a:hover, select:hover, .header__logo:hover { 
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  line-height: 1.1;
}

p {
  font-weight: 400;
  color: white;
  font-size: 1.625rem;
}

.question {
  border: 0;
  font-weight: 400;
  margin-top: 5px;
  padding: 0.8em 1.2em 0.8em 1.2em;
  width: 100%;
  /* background: #303030!important; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.7rem;
  text-align: start;
}


.question__container {
  position: relative;
}

.answer {
  display: none;
  position: absolute;
  top: 85px;
  border: 0;
  font-weight: 400;
  padding: 0.8em 1.2em 0.8em 1.2em;
  width: 100%;
  background: #303030;
  color: white;
  font-size: 1.7rem;
  transition: 3s linear;
}

.answer.active {
  margin-top: 1px;
  display: block;
  position: static;
  border: 0;
  font-weight: 400;
  padding: 0.8em 1.2em 0.8em 1.2em;
  width: 100%;
  background: #303030;
  color: white;
  font-size: 1.7rem;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: #e50914!important;
  color: white;
}


button:hover {
  background-color: red;
}

button:disabled {
  opacity: 0.35;
}

.user-info:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #333 inset !important;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

/* Swiper */

.swiper {
  width: 100vw;
  height: 14vw;
}

.swiper-wrapper, .swiper-scrollbar {
  margin-left: 4rem;
}

.swiper-button-prev, .swiper-button-next {
  display: none!important;
  margin: 0 10px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: white!important;
  font-size: 3vw!important;
}

.swiper:hover .swiper-button-prev, .swiper:hover .swiper-button-next {
  display: block!important;
}


.swiper:hover {
  cursor: pointer;
}


